.is-dark {
  background-color: $backgroundDark;
  color: white;
  transition: all 0.3s ease-in-out;
  .ticker-item {
    background-color: $backgroundDarkElements;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    .ticker-select.is-marked {
      background: $darkAccent;
    }
    .ticker-acronym {
      opacity: 1;
    }
  }
  .backdrop-modal {
    .modal-content {
      background-color: $backgroundDarkElements;
      .deleted-ticker {
        opacity: 1;
      }
    }
  }
  .app::before {
    background: $darkAccent;
  }
}
