.ticker-item {
  width: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: $backgroundLiteElements;
  -webkit-box-shadow: 1px 1px 2px 2px #cecece6e;
  box-shadow: 1px 1px 2px 2px #afafaf9c;
  margin-bottom: 7px;
  overflow: hidden;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
  &.is-pointing {
    &:hover {
      cursor: pointer;
    }
  }
  &.is-hiding {
    display: none;
  }
  .ticker-select {
    position: relative;
    width: 18px;
    height: 18px;
    display: none;
    background-color: white;
    border-radius: 3px;
    margin-right: 8px;
    margin-left: 8px;
    overflow: hidden;
    &.is-visible {
      display: block;
      outline: 1px solid rgba(0, 0, 0, 0.26);
      &:hover {
        cursor: pointer;
      }
    }
    &.is-marked {
      background: $liteAccent;
      outline: none;
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 18px;
        height: 18px;
        background-image: url("../../svg/mark.svg");
        background-size: contain;
      }
    }
  }
}
