$positiveColor: #47c549;
$negativeColor: #db5151;
$positiveSpanColor: #057e07;
$negativeSpanColor: #ac0a0a;
$positiveSpanBgColor: #9eff9f;
$negativeSpanBgColor: #ffc6c6;

$darkmode1: rgb(10, 12, 19);
$darkmode2: #222235;
$darkmode3: #00089c;

$AAPL: #888888;
$GOOGL: #00aeff;
$MSFT: #005f63;
$AMZN: #af5200;
$FB: #002e7e;
$TSLA: #d90404;

$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;
$fullHD: 1920px;
